.big-button {
  background-color: red;
  border-radius: 100%;
  height: 70px;
  width: 70px;
}

.bigbutton-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  width: 35px;
  position: relative;
  transition: top 1s ease-in-out;
  margin-top: -5px;
  margin-bottom: 25px;
}
